{% extends 'base.html.twig' %}

{% block title %}WebSpider | {% trans %}Home{% endtrans %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}WebSpider | {% trans %}Home{% endtrans %}{% endblock %}
{% block og_description %}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <!-- Content -->
        <section class="card">
            <div class="card-header border-bottom">
                <h4 class="card-title mb-1">Bienvenue sur WebSpider!</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                            WebSpider est un <strong>crawler</strong> de website <strong>modulable</strong>.
                        </p>
                        <h5>Qu'est ce qu'un Crawler ?</h5>
                        <p class="mb-0">
                            Un crawler est un robot d'indexation, celui-ci explore automatiquement les pages d'un site web.
                        </p>
                        <p class="mb-0">
                            Utilisé un crawler peut avoir plusieurs intérêts:
                            <ul>
                                <li>Recherche & récupération d'information</li>
                                <li>Validation du SEO de votre site web</li>
                                <li>Test d'intégration</li>
                                <li>Éxécution de code PHP sur plusieurs pages de manière automatisé</li>
                            </ul>
                        </p>
                        <h5>Comment fonctionne les Modules ?</h5>
                        <p class="mb-0">
                            Les modules sont des outils créer par la communauté afin d'ajouter des fonctionnalités lors du crawling d'un website.
                        </p>
                        <p class="mb-0">
                            L'ajout de module à un crawler permet l'automatisation d'éxecution de code sur une ou plusieurs page(s) d'un site internet.
                            Les modules sont éxecutés lors du crawling d'une page.
                        </p>
                        <a href="{{ path('module') }}"><i class="fa fa-cubes"></i> Voir tout les modules</a> |
                        <a href="https://github.com/Mediashare/WebSpider/tree/master/src/Modules" target="_blank"><i class="fa fa-github"></i> Voir la documentation</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <p class="m-0">
                    Cette version de WebSpider est un Proof of Concept, plusieurs améliorations sont à venir.
                </p>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-8">
                {{ render(controller('App\\Controller\\WidgetController::form')) }}
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header pb-1">
                        <h4 class="card-title"><i class="fa fa-cubes"></i> Modules</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="list-group">
                            {% for module in modules %}
                                <a  href="{{ path('module') }}" 
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="{{ module.description }}"
                                    class="list-group-item list-group-item-action">
                                    <i class="fa fa-cube"></i> {{ module.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--/ Content -->
{% endblock %}

{% block javascripts %}  
{% endblock %}