{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %} 
    <body class="vertical-layout vertical-menu-modern semi-dark-layout 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="semi-dark-layout" style="background-size: 100% 100vh;-webkit-background-size: 100% 110vh;">
	    <!-- BEGIN: Content-->
	    <div class="app-content content" style="overflow-y: scroll;">
	        <div class="content-wrapper">
	            <div class="content-header row">
	            </div>
	            <div class="content-body">
	                <section class="row flexbox-container">
	                    <div class="col-xl-8 col-10 d-flex justify-content-center">
	                        <div class="card bg-authentication rounded-0 mb-0">
	                            <div class="row m-0">
	                                <div class="col-lg-6 d-lg-block d-none text-center align-self-center pl-0 pr-3 py-0">
	                                    <img src="{{ asset('app-assets/images/pages/lock-screen.png') }}" alt="branding logo">
	                                </div>
	                                <div class="col-lg-6 col-12 p-0">
	                                    <div class="card rounded-0 mb-0 p-2">
	                                        <div class="card-header pt-50 pb-1">
	                                            <div class="card-title">
	                                                <h4 class="mb-0">{% trans %}Create Account{% endtrans %}</h4>
	                                            </div>
	                                        </div>
	                                        <p class="px-2">{% trans %}Fill the below form to create a new account.{% endtrans %}</p>
	                                        <div class="card-content">
	                                            <div class="card-body pt-0">
	                                            	 {{ form_start(registrationForm) }}
                                                    	<div class="form-label-group">
													        {{ form_widget(registrationForm.username) }}
													        {{ form_label(registrationForm.username) }}
													        {{ form_errors(registrationForm.username) }}
													    </div>
                                                    	<div class="form-label-group">
													        {{ form_widget(registrationForm.email) }}
													        {{ form_label(registrationForm.email) }}
													        {{ form_errors(registrationForm.email) }}
													    </div>
                                                    	<div class="form-label-group">
													        {{ form_widget(registrationForm.plainPassword) }}
													        {{ form_label(registrationForm.plainPassword) }}
													        {{ form_errors(registrationForm.plainPassword) }}
													    </div>
	                                                    <div class="form-group row">
	                                                        <div class="col-12">
	                                                            <fieldset class="checkbox">
	                                                                <div class="vs-checkbox-con vs-checkbox-primary">
	                                                                    <input type="checkbox" required="true">
	                                                                    <span class="vs-checkbox">
	                                                                        <span class="vs-checkbox--check">
	                                                                            <i class="vs-icon feather icon-check"></i>
	                                                                        </span>
	                                                                    </span>
	                                                                    <span class=""> {% trans %}I accept the terms & conditions.{% endtrans %}</span>
	                                                                </div>
	                                                            </fieldset>
	                                                        </div>
	                                                    </div>
	                                                    
                                                    	<div class="col-12">
	                                                    	<button type="submit" class="btn btn-primary mb-50 w-100">{% trans %}Register{% endtrans %}</button>
                                                    	</div>
                                                    	<div class="col-12">
                                                    		<a href="{{ path('app_login') }}" class="btn btn-outline-primary mb-50 w-100">{% trans %}Login{% endtrans %}</a>
                                                    	</div>
												    {{ form_end(registrationForm) }}
	                                            </div>
	                                        </div>
	                                    </div>
                                        <div class="card-footer text-right">
                                            <a href="{{ path('app') }}" class="btn btn-outline-primary">{% trans %}Home{% endtrans %}</a>
                                        </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </section>

	            </div>
	        </div>
	    </div>
	    <!-- END: Content-->
	    {% include '_javascripts.html.twig' %}
	</body>
{% endblock %}
