<div class="card">
    <div class="card-header border-bottom">
        <h4 class="card-title mb-1">
            <i class="fa fa-cube"></i> {{ name }} 
            {% if description %}    
                <span data-toggle="tooltip" data-placement="top" data-original-title="{{ description }}"
                    style="font-size: 1rem;vertical-align: super;">
                    <i class="fa fa-question-circle"></i>
                </span>
            {% endif %}
        </h4>
    </div>
    <div class="card-content w-100" style="max-height: 33vh;overflow:scroll;">
        <ul id="listCard-{{ name }}" class="list-group">
            {% for result in results %}
            <li class="list-group-item d-flex justify-content-between align-items-center w-100"
                style="padding: 0.5em!important;">
                <span class="w-100">
                    {% if result.parent is defined %}
                    <span class="badge badge-primary searchKey" style="white-space: inherit;">{{ result.parent }}</span>
                    {% endif %}
                    <p class="mb-0 mr-1 searchValue" style="white-space: inherit;">
                        <span class="badge badge-info text-left" style="white-space: inherit;">
                            {{ result.key }}
                        </span>
                        {{ result.value }}
                    </p>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer text-center">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="input-addon-search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" id="inputSearch-{{ name }}" aria-describedby="input-addon-search"
                onkeyup="searchInCard('{{ name }}')" placeholder="Search...">
        </div>
    </div>
</div>