{% extends 'base.html.twig' %}

{% block title %}Report | {{ url.url }}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}Report | {{ url.url }}{% endblock %}
{% block og_description %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/charts/apexcharts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/dashboard-analytics.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/card-analytics.css') }}">

    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/data-list-view.css') }}">
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {'0': {
            'name': 'Reports'|trans({}),
            'path': path('report'),
            'icon': 'fa fa-files-o'
        },
        '1': {
            'name': report.website.domain,
            'path': path('report', {'website': report.website.domain}),
            'icon': 'fa fa-files-o'
        },
        '2': {
            'name': report.config.id,
            'path': path('report_show', {'website': report.website.domain, 'id': report.config.id}),
            'icon': 'fa fa-files-o'
        },
        '3': {
            'name': url.url,
            'path': null,
            'icon': 'feather icon-crosshair'
        },
        '4': {
            'name': module.name,
            'path': null,
            'icon': 'fa fa-cube'
        }} 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block content %}
    <!-- Content -->
        <div class="row">
            <div class="col-lg-4">
                {{ render(controller(
                    'App\\Controller\\WidgetController::info',
                    { 'config': report.config, 'website': website, 'id': id, 'url': url.url }
                )) }}
            </div>
            <div class="col-lg-4">
                {{ render(controller(
                    'App\\Controller\\WidgetController::modules',
                    { 'modules': report.modules, 'website': website, 'id': id }
                )) }}
            </div>
            <div class="col-lg-4">
                {{ render(controller(
                    'App\\Controller\\WidgetController::variables',
                    { 'config': report.config, 'website': website }
                )) }}
            </div>
        </div>
        <div class="row">
            {# Module #}
            <div class="col-xl-12">
                {{ render(controller(
                    'App\\Controller\\WidgetController::module',
                    {'module': module, 'website': website, 'id': id}
                )) }}
            </div>
        </div>
    <!--/ Content -->
{% endblock %}
