<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">
                    {% if breadcrumb is defined %}
                        {% set page = breadcrumb|last %}
                        <i class="{{ page.icon }}"></i>
                    {% else %}
                        <i class="fa fa-home"></i>
                    {% endif %}
                </h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {% if breadcrumb is defined %}
                                <a href="{{ path('app') }}">
                                    {% trans %}Home{% endtrans %}
                                </a>
                            {% else %}
                                {% trans %}Home{% endtrans %}
                            {% endif %}
                        </li>
                        {% if breadcrumb is defined %}
                            {% for page in breadcrumb %}
                                <li class="breadcrumb-item">
                                    {% if loop.index != loop.last %}
                                        <a href="{{ page.path }}">
                                            {{ page.name }}
                                        </a>
                                    {% else %}
                                        {{ page.name }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>