{% if spider.job == 'progress' %}
    {% if refresh %}
        <div id="spider-loading-{{ id }}" class="spinner-border text-warning" role="status" data-toggle="tooltip" data-placement="top" data-original-title="WebSpider Runing...">
            <span class="sr-only">Loading...</span>
        </div>
    {% else %}    
        <span id="badge-spider-{{ id }}" class="badge badge-success" style="display:none;">
            <i class="fa fa-check"></i> Job Finished
        </span>
        <div class="progress m-0">
            <div id="progress-bar-{{ id }}" class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="5" aria-valuemax="100" style="width:5%"></div>
        </div>
    {% endif %}
    

    <script>
        var loopStatus = setInterval(function () {
            var refresh = '{{ refresh }}';
            var route = '{{ path("api_spider_status", {"website": website, "id": id}) }}'
            var status = statusSpider('{{id}}', route, '{{website}}', '{{refresh}}');
        },5000);
    </script>
{% endif %}