{% extends 'base.html.twig' %}

{% block title %}WebSpider | {% trans %}Run{% endtrans %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}WebSpider | {% trans %}Run{% endtrans %}{% endblock %}
{% block og_description %}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {'0': {
            'name': 'WebSpider'|trans({}),
            'path': null,
            'icon': 'fa fa-play-circle-o'
        }} 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title mb-0">
                        Runing 
                        <div id="spinner-loading" class="spinner-border text-primary" role="status" data-toggle="tooltip" data-placement="top" data-original-title="WebSpider Runing...">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h4>
                </div>
                <div class="card-content text-center">
                    <form id="webspider-execute" action="{{ path('api_webspider_execute') }}" method="POST" onload="executeWebspider();">
                        <input type="hidden" name="website" value="{{ website }}" required="true">
                        <input type="hidden" name="id" value="{{ id }}" required="true">
                        <input type="hidden" name="arguments" value="{{ arguments }}" required="true">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ Content -->
    <script async type="text/javascript">
        window.onload = function(){
            executeWebspider();
        }
        
        async function executeWebspider() {
            var form = $('#webspider-execute');
            $.ajax({
                type: 'POST',
                url: form.attr("action"),
                data: form.serialize(), 
                //or your custom data either as object {foo: "bar", ...} or foo=bar&...
                success: function(response) { 
                    console.log(response);
                    if (response.status === "success") {
                        $("#spinner-loading").attr('class', 'spinner-border text-success');
                        setTimeout(redirection, 5000);
                    }
                },
            });
        }
        function redirection() {
            window.location = "{{ path('report_show', {'website': website, 'id': id}) }}";
        }
    </script>
    
{% endblock %}

{% block javascripts %}  
{% endblock %}