<div class="card">
    <div class="card-header">
        <h4 class="card-title pb-1">
            <i class="fa fa-info-circle"></i> Info
        </h4>
    </div>
    <div class="card-content">
        <ul class="list-group">
            {% if url %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span> Url</span>
                    <span class="d-inline-flex">
                        <form action="{{ path('report_show_url', {'website': website, 'id': id}) }}" method="POST">
                            <input type="hidden" name="url" value="{{ url }}">
                            <button type="submit" class="badge badge-primary" data-toggle="tooltip" data-placement="top" data-original-title="{{ url }}">
                                {{ url|slice(0,35) }} 
                            </button>
                        </form> 
                        <a href="{{ url }}">
                             <i class="fa fa-external-link"></i>
                        </a>
                    </span>
                </li>
            {% endif %} 
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span> Website</span>
                <span>
                    <a href="{{ path('report', {'website': website}) }}" class="badge badge-primary">
                        {{ website }}
                    </a>
                    <a href="//{{ website }}">
                        <i class="fa fa-external-link"></i>
                    </a>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span> ID</span>
                <a href="{{ path('report_show', {'website': website, 'id': id}) }}" class="badge badge-info">
                    {{ id }}
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span> Crawl all website</span>
                {% if config.webspider %}
                    <span class="badge badge-success">True</span> 
                {% else %}
                    <span class="badge badge-danger">False</span> 
                {% endif %}
            </li>
            {% if config.pathRequire %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span> Path required</span>
                    <ul class="text-right">
                        {% for path in config.pathRequire %}
                            <li class="badge badge-primary">
                                {{ path }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if config.pathException %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span> Path exceptions</span>
                    <ul class="text-right">
                        {% for path in config.pathException %}
                            <li class="badge badge-danger">
                                {{ path }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span> Create date</span>
                <span class="badge badge-info">
                    {{ config.createDate }}
                </span>
            </li>
        </ul>
    </div>
    <div class="card-footer p-1">
        <div class="row">
            <div class="col-lg-12 text-right">
                <ul class="list-inline m-0">
                    {% if app.user %}
                        {% if id in app.user.reports or is_granted('ROLE_ADMIN') %}      
                            <li>
                                <form action="{{ path('report_remove', {'website': website, 'id': id}) }}" method="GET">
                                    <button type="submit" class="btn btn-icon btn-outline-danger waves-effect waves-light">
                                        <i class="feather icon-trash"></i>
                                    </button>
                                </form>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>