{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}Reports{% endblock %}
{% block og_description %}{% endblock %}

{% block breadcrumb %}
    {% if website %}
        {% set breadcrumb = 
            {'0': {
                'name': 'Reports'|trans({}),
                'path': path('report'),
                'icon': 'fa fa-files-o'
            },'1': {
                'name': website,
                'path': path('report', {'website': website}),
                'icon': 'fa fa-files-o'
            }} 
        %}
    {% else %}
        {% set breadcrumb = 
            {'0': {
                'name': 'Reports'|trans({}),
                'path': path('report'),
                'icon': 'fa fa-files-o'
            }} 
        %}
    {% endif %}
    
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/charts/apexcharts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/dashboard-analytics.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/card-analytics.css') }}">
{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header mb-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input-addon-search"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputSearch-reports" aria-describedby="input-addon-search" onkeyup="searchInTable('reports')" placeholder="Search...">
                    </div>
                </div>
                <div class="card-content w-100" style="overflow:scroll;max-height: 60vh;">
                    <table id="table-reports" class="table table-striped table-hover w-100 text-right p-0">
                        <thead>
                            <tr>
                                <th class="text-left">Id</th>
                                <th>Website</th>
                                <th>Modules</th>
                                <th>Urls</th>
                                <th>Errors</th>
                                <th>Create Date</th>
                                <th>Job</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{{ path('report_show', {'website': report.website.domain, 'id': report.config.id}) }}">
                                            {{ report.config.id }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('report', {'website': report.website.domain}) }}">
                                            {{ report.website.domain }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if report.modules is defined %}
                                            {% for module in report.modules %}
                                                <a href="{{ path('report_module', {'website': report.website.domain, 'id': report.config.id, 'module': module.name}) }}" class="badge badge-info">
                                                    {{ module.name }}
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </td>
                                    <td>
                                        <a href="{{ path('report_show', {'website': report.website.domain, 'id': report.config.id, 'module': 'urls'}) }}"
                                            class="badge badge-success">
                                            {{ report.urls }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if report.errors > 0 %}
                                            <a href="{{ path('report_show', {'website': report.website.domain, 'id': report.config.id, 'module': 'errors'}) }}"
                                                 class="badge badge-danger">
                                                {{ report.errors }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('report_show', {'website': report.website.domain, 'id': report.config.id, 'module': 'errors'}) }}"
                                                class="badge badge-success">
                                                {{ report.errors }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ report.config.createDate }} 
                                    </td>
                                    <td>
                                        {% if report.spider is defined and report.spider.job == 'progress' %}
                                            {{ render(controller('App\\Controller\\WidgetController:spiderStatus', {'website': report.website.domain, 'id': report.config.id, 'spider': report.spider})) }}
                                        {% else %}
                                            <span class="badge badge-success">
                                                <i class="fa fa-check"></i> Job Finished
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li>
                                                <a href="{{ path('report_show', {'website': report.website.domain, 'id': report.config.id}) }}" class="btn btn-icon btn-outline-info waves-effect waves-light">
                                                    <i class="feather icon-eye"></i>
                                                </a>
                                            </li>
                                            {% if app.user %}
                                                {% if report.config.id in app.user.reports or is_granted('ROLE_ADMIN') %}     
                                                    <li>
                                                        <form action="{{ path('report_remove', {'website': report.website.domain, 'id': report.config.id}) }}" method="GET">
                                                            <button type="submit" class="btn btn-icon btn-outline-danger waves-effect waves-light">
                                                                <i class="feather icon-trash"></i>
                                                            </button>
                                                        </form>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/ Content -->
{% endblock %}
