{% extends 'base.html.twig' %}

{% block title %}Report | {{ website }}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}Report | {{ website }}{% endblock %}
{% block og_description %}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {'0': {
            'name': 'Reports'|trans({}),
            'path': path('report'),
            'icon': 'fa fa-files-o'
        },
        '1': {
            'name': website,
            'path': path('report', {'website': website}),
            'icon': 'fa fa-files-o'
        },
        '2': {
            'name': id,
            'path': null,
            'icon': 'fa fa-file-o'
        }} 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/charts/apexcharts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/dashboard-analytics.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/card-analytics.css') }}">

    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/css/pages/data-list-view.css') }}">
{% endblock %}

{% block content %}
    <!-- Content -->
        <div class="row">
            <div class="col-lg-4">
                {{ render(controller(
                    'App\\Controller\\WidgetController::info',
                    { 'config': report.config, 'website': website, 'id': id }
                )) }}
            </div>
            <div class="col-lg-4">
                {{ render(controller(
                    'App\\Controller\\WidgetController::modules',
                    { 'modules': report.modules, 'website': website, 'id': id }
                )) }}
            </div>
            <div class="col-lg-4">
                {{ render(controller(
                    'App\\Controller\\WidgetController::variables',
                    { 'config': report.config, 'website': website }
                )) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-1">
                    <ul class="nav nav-tabs nav-justified m-0" role="tablist">
                        <li class="nav-item">
                            <a  class="nav-link {% if module == null or module == 'urls' %}active{% endif %}"
                                href="{{ path('report_show', {'website': website, 'id': id, 'module': 'urls'}) }}">
                                <i class="feather icon-link"></i> Urls ({{ report.urls|length }})
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link {% if report.errors|length > 0 %}text-danger{% endif %} {% if module == "errors" %}active{% endif %}"
                                href="{{ path('report_show', {'website': website, 'id': id, 'module': 'errors'}) }}">
                                <i class="feather icon-info"></i> Errors ({{ report.errors|length }})
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link {% if module == "responses" %}active{% endif %}"
                                href="{{ path('report_show', {'website': website, 'id': id, 'module': 'responses'}) }}">
                                <i class="fa fa-heartbeat"></i> Responses Status
                            </a>
                        </li>
                    </ul>
                </div>
                {% if module == null or module == "urls" %}
                    {{ render(controller(
                        'App\\Controller\\WidgetController::urls',
                        { 'urls': report.urls, 'website': website, 'id': id }
                    )) }}
                {% elseif module == "errors" %}
                    {{ render(controller(
                        'App\\Controller\\WidgetController::errors',
                        { 'errors': report.errors }
                    )) }}
                {% elseif module == "responses" %}
                    <div class="row">
                        <div class="col-lg-3">
                            {{ render(controller(
                                'App\\Controller\\WidgetController::httpCodes',
                                { 'urls': report.urls }
                            )) }}
                        </div>
                        <div class="col-lg-9">
                            {{ render(controller(
                                'App\\Controller\\WidgetController::timers',
                                { 'urls': report.urls }
                            )) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    <!--/ Content -->
{% endblock %}
